	<footer>
		<div class="footer-left">
			<p>
		        Newslint is a project by <a href="http://benturner.com/">Ben Turner</a>, created with Python and Django, under a dev environment using Bower, Grunt, Github, and SASS, hosted on Amazon EC2 with Apache, Varnish, and memcached, as a fun side project to try integrating different frameworks and tools.  Newslint is inspired by <a href="https://github.com/rowanmanning/joblint">Rowan Manning's Javascript version of joblint</a>, for which I also made <a href="https://github.com/Xeus/joblint_python">a Python port</a>.
		    </p>
		</div>
		<div class="footer-right">
			<a href="/">home</a><br>
			<a href="/api/v1/">api</a><br>
			<a href="/about/">about</a><br>
			<a href="/clippings/">clippings list</a><br>
			<a href="https://github.com/Xeus/newslint">github - newslint</a><br>
			<a href="https://github.com/Xeus/newslint-server">github - newslint-server</a>
		</div>
	</footer>

    {% load static %}
    <script src="{% static 'build/js/jquery.min.js' %}"></script>
    <script src="{% static 'build/js/moment.min.js' %}" defer></script>
    <script src="{% static 'build/js/newslint-server.min.js' %}"></script>
