<header>
	<div class="header-container">
		<div class="header-titles">
			<div class="header">
				<span class="header-title"><a href="/">newslint</a></span>
				<span class="header-subtitle">read between the lines</span>
			</div>
		</div>
		<div class="header-nav">
			<span class="nav-item"><a href="/about/">about</a></span>
			<span class="nav-item"><a href="/clippings/">saved clippings</a></span>
			<span class="nav-item"><a href="https://github.com/Xeus/newslint-server">github</a></span>
			{% if page != 'index' %}<button class="button-lint">lint text now</button>{% endif %}
		</div>
	</div>
</header>
