<!DOCTYPE html>

<html lang="en">

<head>
{% include 'partials/_header.html' %}
</head>

<body>

{% include 'partials/_nav.html' %}

<h1>
	{{ title }}
	{% if author %} by {{ author }}{% endif %}
	{% if publication %} in {{ publication }}{% endif %}
</h1>

{% include 'partials/_result.html' %}

{% if public %}
<div class="permanent_url">
	permanent URL: <a href="{{ permanent_url }}">{{ permanent_url }}</a><br>
	API URL: <a href="{{ api_url }}">{{ api_url }}</a><br>
	publication: {{ publication }}<br>
	author: {{ author }}<br>
	published: <span class="title-published">{{ published }}</span><br>
	added: <span class="title-added">{{ added }}</span>
</div>
{% endif %}

{% include 'partials/_footer.html' %}

<script>
	$(function() {
		$('.title-published').html(moment('{{ published }}').subtract('hours', 5).fromNow());
		$('.title-added').html(moment('{{ added }}').subtract('hours', 5).fromNow());
	});
</script>

</body>

</html>
