<!DOCTYPE html>

<html lang="en">

<head>
{% include 'partials/_header.html' %}
</head>

<body>

{% include 'partials/_nav.html' %}

<div class="body-container">

    <div class="body-left">

	    <h2>What is Newslint?</h2>

	    <p>
	        In consumption and analysis of the news, half the battle is deciphering the intent and agenda behind the text to see if it's giving the story a fair take.  Newslint identifies <a href="http://en.wikipedia.org/wiki/Loaded_language">loaded language</a>, potential biases, punditry, partisanship, unprofessionalism, and other problems with text.  Not all of its warnings will apply, but hopefully it will make you aware of issues with the text.
	    </p>

	    <p>
	        You can make pull requests to improve the rules for detection, via <a href="https://github.com/Xeus/newslint/tree/master/rule">the git repo</a> and you can also use <a href="/api/v1/">the site's API</a>.
	    </p>

    </div>

    <div class="body-right">

        {% include 'input.html' %}

    </div>  <!-- body-right -->

</div>  <!-- body-container -->

{% include 'partials/_footer.html' %}

</body>

</html>
