<h1>Enter Text for the Newslinter</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form name="form_clipping" id="form_clipping" method="POST" action="{% url 'lint_clipping' %}">
{% csrf_token %}

<textarea name="content"></textarea>
<input type="submit" value="lint this news clipping" id="form_submit" />

<div class="more_div">[ <a href="#" class="more_link">show more fields</a> ]</div>

<div class="hidden_fields">

<div class="div_name">
    <label for="title">clipping title</label> <input type="text" name="title" id="title" />
</div>

<div class="div_publication">
    <label for="publication">publication</label>
    <select name="publication" id="publication">
        <option value="">[none]</option>
        {% for k, v in PUBLICATIONS %}
        <option value="{{k}}">{{v}}</option>
        {% endfor %}
    </select>
</div>

<div class="div_author">
    <label for="author">author</label> <input type="text" name="author" id="author" />
</div>

<div class="div_url">
    <label for="url">url</label> <input type="text" name="url" id="url" />
</div>

<div class="div_published">
    <label for="published">published</label> <input type="date" name="published" id="published" />
</div>

<input type="checkbox" name="public" id="public" value="true" /> get permanent link? (note: this saves any input to the db)

</div>

<input type="submit" value="lint this news clipping" id="form_submit" />

</form>